doctype xml
rss(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:content='http://purl.org/rss/1.0/modules/content/', xmlns:atom='http://www.w3.org/2005/Atom', version='2.0')
  channel
    title #{rss_title}
    link #{rss_link}
    description #{rss_description}
    lastBuildDate= new Date().toUTCString()
    each item in rss_data
      item
        title= item.name
        guid(isPermaLink='false')= item.guid
        pubDate= new Date(item.date).toUTCString()
        enclosure(type='application/x-bittorrent', length=item.size, url=item.link)
